.demo-headline {
  padding: 73px 0 110px;
  text-align: center;
}
.demo-logo {
  margin: 10px 0;
  font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
}
.demo-logo small {
  display: block;
  padding-top: 5px;
  font-size: 22px;
  font-weight: 700;
  color: rgba(52, 73, 94, .3);
  letter-spacing: 0;
}
.to-translate {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 12px;
}